
.background {
    background-image: url(background.png);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    overflow: hidden;
}

img {
    position: absolute;
}

#cow {
	z-index: 3;
	height: 90px;
	width:80px;
	top:400px;
	left:200px;
}
#pig {
	z-index:4 ;
	right: 400px;
	bottom:100px;
	height:110px;
	width:120px;
}
#cow {
	z-index:4 ;
	right: 400px;
	bottom:100px;
	height:110px;
	width:120px;
}
#chicken {
	z-index: 5;
	height: 120px;
	width: 10%;
	top: 600px;
    right: 200px; 
}
#sheep {
	z-index: 4;
	left: 16px;
	top: 20px;
	height: 125px;
	width: 325px; 
}
#horse {
	z-index:3;
	bottom: 100px;
	left:80px;
	height: 80px;
	width: 90px;
}
#birds {
	z-index:3;
	bottom: 400px;
	left:1080px;
	height: 380px;
    width: 390px;
}
