
.background {
    background-image: url(background.png);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    overflow: hidden;
}

img {
    position: absolute;
}

#cow {
	z-index: 3;
	height: 120px;
	width:120px;
	bottom:70px;
	right: 80px;
}
#pig {
	z-index:4 ;
	right: 170px;
	bottom:80px;
	height:60px;
	width:80px;
}
#chicken {
	z-index: 5;
	height: 180px;
	width: 190px;
    right: 600px; 
    bottom: 20px;
}
#sheep {
	z-index: 4;
	left: 446px;
	top: 20px;
	
    width: 225px; 
    top: 500px;
}
#horse {
	z-index:3;
	bottom: 70px;
	left:80px;
	height: 340px;
	width: 290px;
}
#birds {
	z-index:3;
	bottom: 400px;
	right: 65px;
	height: 190px;
    width: 300px;
}
